﻿@page "/"
@*<p>Hola, @UtilidadesString.Enmayuscular(name)</p>
    <p>Vamos a sumar 2 + 2 = @(2 + 2)</p>
    <!--<button @onclick="@(() => Console.WriteLine("me han click"))">Presione</button>-->
    <button @onclick="@manejarClick">Presione</button>*@

    <div>
        <h3>Película</h3>
        @*@foreach (var pelicula in ObtenerPeliculas())
        {
            <div>
                <p>Título: <b>@pelicula.Titulo</b></p>
                <p>Lanzamiento: <b>@pelicula.lanzamiento.ToString("dd MMM yyyy")</b></p>
            </div>
        }*@

        @if (Peliculas == null)
        {
            <img src="https://media1.tenor.com/images/db85ba00c6073b451a8f05156a66524e/tenor.gif?itemid=9856796" />
            <text> Cargando...</text>
        }
        else if(Peliculas.Count == 0)
        {
            <text>No hay registros para mostrar</text>
        }
        else
        {
            @for (var i = 0; i < Peliculas.Count(); i++)
            {
                <div>
                    @if (i == Peliculas.Count - 1)
                    {
                        <p>Esta es la última película</p>
                    }
                    <p>@(i + 1))Título: @((MarkupString) Peliculas[i].Titulo)</p>
                    <p>Lanzamiento: <b>@Peliculas[i].lanzamiento.ToString("dd MMM yyyy")</b></p>
                </div>
            }
        }

</div>
        @code{
            string name = "lucky";

            public Pelicula Thor { get { return ObtenerPelicula(); } }
            public List<Pelicula> Peliculas;

            protected override async Task OnInitializedAsync()
            {
                await Task.Delay(3000);
                Peliculas = ObtenerPeliculas();
            }

            private Pelicula ObtenerPelicula()
            {
                return new Pelicula()
                {
                    Titulo = "thor",
                    lanzamiento = new DateTime(2019, 7, 2)
                };
            }

            private List<Pelicula> ObtenerPeliculas()
            {
                return new List<Pelicula>()
        {
            new Pelicula(){ Titulo = "<b>Thor 2</b>", lanzamiento = new DateTime(2019, 6, 3)},
            new Pelicula(){ Titulo = "<i>Thor 3</i>", lanzamiento = new DateTime(2020, 6, 3)},
            new Pelicula(){ Titulo = "<u>Thor 4</u>", lanzamiento = new DateTime(2021, 6, 3)}
        };
            }

            private void manejarClick()
            {
                Console.WriteLine("me han clickeado");
            }
        }
